@import url(../style.css);

main {
	margin: 25rem 7%;
}
.logo {
	float: left;
	padding: 15rem;
	margin: 0 25rem 5rem 0;
	background: transparent;
}
.logo img {
	display: block;
	max-width: 100%;
}
article {
	padding: 50rem 70rem;
	background: #e6e6e6;
	text-align: justify;
	font: 400 24rem/30rem Montserrat, sans-serif;
}
.company-paragraph {
	margin-bottom: 30rem;
}
.company-paragraph:last-child {
	margin-bottom: 0;
}
strong {
	font-weight: 700;
	font-size: 25rem;
}
.image {
	padding: 15rem;
	margin: 0 25rem 30rem 0;
}
.image img {
	display: block;
	width: auto;
	max-width: 100%;
	max-height: 450rem;
}